.footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1; /* Màu nền nhẹ */
  font-size: 14px;
  color: #333; /* Màu chữ */
  border-top: 1px solid #ccc; /* Đường viền phía trên */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}
