.gameContainer {
  width: 400px;
  margin: 0 auto 0 auto;
}

.playArea {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  position: relative;
  border: 5px solid black;
}

.status {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}

.success {
  color: green; /* Màu xanh lá cây cho ALL CLEARED */
}

.fail {
  color: red; /* Màu đỏ cho GAME OVER */
}

.error {
  color: red;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}
