.headerContainer {
  background-color: #333;
  padding: 10px 0;
  color: white;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
